.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card {
    background: white;
    padding: 20px 30px;
    top: -20px;
    left: -80px;
    width: 100%;
    max-width: 300px;
    border-radius: 12px;
    box-shadow: 3px 3px 60px 0px rgba(0, 0, 0, 0.1);
}

.check-box {
    margin-left: 25px;
}

.card-expiry {

}

.columns {
    display: flex;
}

.columns > * {
    margin-right: 10px;
}

.field {
    height: 40px;
    border-bottom: 1px solid lightgray;
}

.field.is-onfocus {
    border-color: black;
}

.field.is-empty {
    border-color: #028112;
}

.field.is-invalid {
    border-color: red;
}

.field.is-valid {
    border-color: green;
}

#card-pan {
    margin-bottom: 30px;
}

.submit {
    background: #015901;
    cursor: pointer;
    width: 250px;
    margin-top:30px;
    color: white;
    outline: 0;
    font-size: 14px;
    border: 0;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 0;
    transition: background 0.3s ease;
    margin-right:20px;
}

.clear {
    margin-left: 55px;
    background: #015901;
    cursor: pointer;
    width: 100px;
    margin-top:30px;
    color: white;
    outline: 0;
    font-size: 14px;
    border: 0;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 0;
    transition: background 0.3s ease;
}

.submit-button {
    margin-left: 25px;
}

.info {
    width: 600px;
    word-wrap:break-word;
    margin-top: 20px;
    color: green;
}